pid /tmp/nginx.pid;
worker_processes 1;
error_log /dev/stderr warn;
events { worker_connections 256; }
http {
  access_log off;
  client_body_temp_path /tmp/client_body;
  proxy_temp_path /tmp/proxy;
  fastcgi_temp_path /tmp/fastcgi;
  uwsgi_temp_path /tmp/uwsgi;
  scgi_temp_path /tmp/scgi;
  server {
    listen 8080;
    server_name mygantt.skyprawngo.com;
    client_max_body_size 1m;
    location / {
      proxy_pass http://unix:/run/mygantt/http.sock:;
      proxy_set_header Host $host;
      proxy_set_header X-Forwarded-Proto https;
      proxy_read_timeout 30s;
    }
  }
}
